<a href="https://colab.research.google.com/github/aphamdd/CS410-Data-Engineering/blob/main/Data_Transformation_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/books.csv')
df = df.drop(['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver', 'Issuance type', 'Shelfmarks'], axis = 1)

# https://realpython.com/python-data-cleaning-numpy-pandas/
pub = df['Place of Publication']
london = pub.str.contains('London')
london[:5]
oxford = pub.str.contains('Oxford')
df['Place of Publication'] = np.where(london, 'London',
                                      np.where(oxford, 'Oxford',
                                               pub.str.replace('-', ' ')))
#df2 = df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
################################################################
print(df.head(20))

0     1879
1     1868
2     1869
3     1851
4     1857
5     1875
6     1872
7      NaN
8     1676
9     1679
10    1802
11    1859
12    1888
13    1839
14    1897
15    1865
16    1860
17    1873
18    1866
19    1899
Name: Date of Publication, dtype: object